pandas
scikit-learn
seaborn
matplotlib
streamlit~=1.18.0
rdkit
tqdm
pdfminer==20191125
pillow
dask
joblib
pathlib
sweetviz
scipy
pandas-profiling
streamlit-pandas-profiling
pyarrow
ipywidgets
hydralit-components
notebook
ipython
streamlit_option_menu
streamlit-extras

